.navbar-brand {
  color:#ffffff;
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
}
hr {
  display: block;
  border-width: 3px;
  margin: 0px;
}
.red {
  border-color: #FF0018;
}
.orange {
  border-color: #FFA52C;
}
.yellow{
  border-color: #ffff41;
}
.green{
  border-color: #008018;
}
.blue{
  border-color: #0000f9;
}
.purple{
  border-color: #86007d;
}
#welcome{
  margin-top: 10px;
}
.jumbotron{
  background-color: transparent !important;
  font-size: 24px;
}
#passion{
  display: inline;
  padding-left: 230px;
}
#animation{
  padding-top: 210px;
}
.words{
  font-family: Helvetica, sans-serif;
  vertical-align:top;
  overflow:hidden;
  height:35px;
  position:relative;
  display: inline-block;
  width: 300px;
  padding-left: 10px;
}
.hidden{
  color: #7da7df;
  position:absolute;
  align-self: center;
  top: 210px;
  display:inline-block;
  opacity:0;
  animation: slideme 8s infinite;
}
.hidden:nth-child(3){
  animation-delay: 2s;
}
.hidden:nth-child(5){
  animation-delay: 4s;
}
.hidden:nth-child(7){
  animation-delay: 6s;
}

@keyframes slideme {
  0% {
    top: 210px;
    opacity:0;
  }
  5% {
    top: 0px;
    opacity:1;
  }
  10%{
    top : 0;
    opacity:1;
  }
  20%{
    opacity:1;
  }
  25% {
  opacity:0.1;
    top : 0;
  }
  30% {
    opacity:0;
    top: 220px;
  }
}
