#about-me{
  background-color: $background-color;
  color: $text;
}

#about-text{
  padding-top: 30px;
  padding-bottom: 40px;
  a{
    margin-top: 10px;
  }
  img{
    border: solid 3px $main-color;
  }
}
