#index{
  background-color: $background-color;
  color: $text;
}
#Brief{
  background-image: url("../images/background-1.jpg");
  background-repeat: no-repeat;
  background-position: center;

  #about-b{
    padding-top: 120px;
    border-radius: 10px;
    padding-bottom: 120px;
  }
  p{
    text-shadow: 2px 2px 5px $shadow;
  }
  h2{
      text-shadow: 2px 2px $main-color;
  }
  img{
    border-radius: 50%;
    border: 3px solid $background-color;
    width: 250px;
  }
}
#event-dl{
  border-top: 3px solid $background-color;
  padding-top: 120px;
  padding-bottom: 120px;
  #about-e{
    border-radius: 10px;
  }
  p{
    text-shadow: 2px 2px 5px $shadow;
  }
  h2{
    padding-top: 30px;
      text-shadow: 2px 2px $main-color;
  }
  img{
    border-radius: 50%;
    border: 3px solid $text;
    width: 250px;
  }
}
#design-dl{
  border-top: 3px solid $background-color;
  background-image: url("../images/background-2.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  padding-top: 120px;
  padding-bottom: 120px;
  #about-d{
    border-radius: 10px;
  }
  p{
    text-shadow: 2px 2px 5px $shadow;
  }
  h2{
      text-shadow: 2px 2px $main-color;
  }
}
#webdev-dl{
  border-top: 3px solid $background-color;
  padding-top: 120px;
  padding-bottom: 120px;
  #about-w{
    border-radius: 10px;
  }
  p{
    text-shadow: 2px 2px 5px $shadow;
  }
  h2{
      text-shadow: 2px 2px $main-color;
  }
}
* {
  margin: 0;
}
