.section-titles{
  text-align: center;
  font-size: 3rem;
  font-family: monospace;
}
p{
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
li{
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
h2{
  text-shadow: 2px 2px $main-color;
  font-family: monospace;
}
